
.flipper {
  display: flex;
  flex-flow: row-reverse wrap;

}

.halfsie {
  height: 100vh;
  width: 48%;
  min-width: 500px;
}

.profile {
  object-fit: cover;
}

.intro {
  background-color: #009ce2;
  color: white;

  padding-left: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  width: 80%;
}
